@tailwind base;

* {
  scrollbar-width: 10px;
  scrollbar-color: var(--secondary) var(--primary);
}

:root {
  --primary: transparent;
  --secondary: rgba(218, 218, 69,0.5);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 3px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton{
    @apply px-5 py-2 text-gray-400 rounded-full uppercase tracking-widest text-xs cursor-pointer transition-all border border-[#242424] hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40 
  }
  .inputField {
    @apply outline-none px-6 py-4 bg-slate-400/10 rounded-sm border-b border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

