@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .quote {
    @apply m-3 p-6 bg-blue-100 rounded-lg;
  }
  .quote p {
    @apply font-serif italic text-lg text-gray-700 leading-snug mb-1;
  }
  .quote span {
    @apply text-sm text-gray-500;
  }
  .navbar p{
    @apply cursor-pointer hover:underline hover:text-black;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

